.title {
  text-align: center;
  background-color: tan;
  padding: 50px;
}

.sideBar {
  background-color: lightgreen;
  padding-top: 15px;
  padding-bottom: 100%;
}

.main {
  background-color: gray;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 30px;
}

h4 {
  color: tan;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: white;
  font-weight: bold;
}
