.title {
  text-align: center;
  background-color: tan;
  padding: 50px;
}

.sideBar {
  background-color: lightgreen;
  padding-top: 15px;
  padding-bottom: 100%;
}

.main {
  background-color: lightgray;
  padding-top: 15px;
  padding-left: 50px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  color: tan;
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 24px;
}

.sideBar p {
  color: white;
  font-weight: bold;
}

.main p {
  font-size: 18px;
}
